{% extends "base.html" %}

{% block content %}
<div class="jumbotron bg-dark" style="text-align: center">
    <h1 class="text-light">House and Rental Index Data Analysis</h1>
    <p class="text-light">Interested in housing and rental index in the United States?<br>Well, you have come to the
        right
        place.<br>Click on one of the links below to learn more.</p>
</div>

<div class="row">
    <div class="col-md-4 d-flex justify-content-center text-center">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a
                    href="/about"><button type="button" class="btn btn-secondary btn-block">About</button></a></h4>
                <p class="card-text">Learn more about the data and the data analysts.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center text-center">
        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a
                    href="/models"><button type="button" class="btn btn-secondary btn-block">Models</button></a></h4>
                <p class="card-text">thumbnail of one of the graphs goes here</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center text-center">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a
                    href="/maps"><button type="button" class="btn btn-secondary btn-block">Maps</button></a></h4>
                <p class="card-text">thumbnail of one of the maps goes here</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}